* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #543310;
    color: #F8F4E1;
    height: 4rem;
    line-height: 4rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    /* opacity: 0.7; */
    cursor: pointer;
    background-color: #AF8F6F;
    
}

img {
    height: 150px;
    width: 150px;
    object-fit: contain; /*used so img doesnt look like they are shrinked :D */
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 5rem;
}

.score-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 5rem;
}
  
#msg {
    background-color: #543310;
    color: #F8F4E1;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}